@font-face{font-family:raleway-black;
src: url(./Raleway-Black.ttf);}

@font-face{font-family:raleway-blackItalic;
scr: url(./Raleway-BlackItalic.ttf)}

@font-face{font-family:raleway-bold;
scr: url(./Raleway-Bold.ttf)}

@font-face{font-family:raleway-ExtraBoldItalic;
scr: url(./Raleway-ExtraBoldItalic.ttf)}

@font-face{font-family:raleway-ExtraLigth;
scr: url(./Raleway-ExtraLight.ttf)}

@font-face{font-family:raleway-ExtraLigthItalic;
scr: url(./Raleway-ExtraLightItalic.ttf)}

@font-face{font-family:raleway-italic-variableFont;
scr: url(./Raleway-VariableFont_wght.ttf)}

@font-face{font-family:raleway-italic;
scr: url(./Raleway-Italic.ttf)}

@font-face{font-family:raleway-light;
scr: url(./Raleway-Light.ttf)}

@font-face{font-family:raleway-Light-italic;
scr: url(./Raleway-LightItalic.ttf)}

@font-face{font-family:raleway-Medium;
scr: url(./Raleway-Medium.ttf)}

@font-face{font-family:raleway-Mediumitalic;
scr: url(./Raleway-MediumItalic.ttf)}

@font-face{font-family:raleway-regular;
scr: url(./Raleway-Regular.ttf)}

@font-face{font-family:raleway-Semibold;
scr: url(./Raleway-SemiBold.ttf)}

@font-face{font-family:raleway-SemiBoldItalic;
scr: url(./Raleway-SemiBoldItalic.ttf)}

@font-face{font-family:raleway-Thin;
scr: url(./Raleway-Thin.ttf)}

@font-face{font-family:raleway-ThinItalic;
scr: url(./Raleway-.ThinItalic.ttf)}

@font-face{font-family:raleway-VariableFont;
scr: url(./Raleway-VariableFont_wght.ttf)}







